<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naissance Nantes</title>
</head>
<body>
    <div id="demo">
		<h1>Naissance à Nantes</h1>
		<template v-for="branch in branches">
			<input
				type="radio"
				:id="branch"
				:value="branch"
				name="branch"
				v-model="currentBranch"
			/>
			<label :for="branch">{{ branch }}</label>
		</template>
		<div v-if="currentBranch === 'Naissance par Année'">
			<p>Nombre de naissances à Nantes par année :</p>
			<ul>
				<li v-for="record in naissances">
					<p><strong>{{record.name}}</strong> - {{record.count}} naissances</p>
				</li>
			</ul>
		</div>
    </div>




    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/vue@3"></script>
		<script>
			const apiURL = "https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_prenoms-enfants-nes-nantes&q=&rows=0&facet=annee_naissance";
			const config = {
			};

			Vue.createApp({
				data() {
					return {
						branches: ["Naissance par Année", "Top prénom"],
						currentBranch: "Naissance par Année",
						naissances: null,
					};
				},

				created: function () {
					this.fetchDataAsync();
				},

				watch: {
					currentBranch: "fetchDataAsync",
				},
				methods: {
					fetchDataAsync: async function () {
				 	try {
					  	const response = await axios.get(apiURL, config)
						  console.log(response.data)
						  this.naissances = response.data.facet_groups[0].facets
					        
					   } catch(error) {
					     console.log(error);
					   }
					 },
				},
			}).mount("#demo");
		</script>
</body>
</html>